:root {
    --color-1: #090040;
    --color-2: #471396;
    --color-3: #B13BFF;
    --color-4: #FFCC00;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: sans-serif;
    background-color: var(--color-2);
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    cursor: pointer;
}

.navbar {
    display: flex;
    height: 50px;
    background-color: var(--color-1);
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    position: fixed;
    width: 100%;
}

ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

a {
    color: white;
    text-decoration: none;
}

.menu-desk li,
.menu-desk li a {
    transition: all 200ms ease;
}

.menu-desk li:hover,
.menu-desk li a:hover {
    transform: translateY(-2px);
    font-weight: 530;
    color: var(--color-4);
}

.titles {
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 900;
    transition: all 200ms ease;
    cursor: pointer;
}

.titles a {
    color: var(--color-4);
    transition: all 200ms ease;
}

.titles:hover {
    transform: scaleX(1.1);
    transform: scaleY(1.1);
}

.titles a:hover {
    color: white;
}

.bxr {
    font-size: 2rem;
}

.menu-mobile {
    cursor: pointer;
}

.ham-menu {
    background-color: var(--color-3);
    position: absolute;
    right: 5%;
    width: 75px;
    align-items: center;
    text-align: center;
    padding-right: 55px;
    border-radius: 20px 0 20px 20px;
}

.ham-menu a {
    font-size: 1.2rem;
}

.ham-menu ul {
    display: grid;
}

.menu-mobile {
    display: none;
}

.contents {
    padding-top: 70px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.img-card {
    text-align: center;
}

.img-card img {
    width: 400px;
}

.active-link {
    color: var(--color-4);
}

.name-card {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;
}

.card {
    border-radius: 20px;
    width: 400px;
    text-align: center;
    background: var(--color-1);
    /* background: rgba(0, 0, 0, 0.163); */
    /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); */
    box-shadow: 10px 5px 10px 0 rgba(0, 0, 0, 0.3);
    margin-top: -15px;
    padding: 10px;
}

.card h3 {
    margin-bottom: -20px;
    font-weight: 300;
    font-size: 1rem;
    color: var(--color-3);
}

.card h2 {
    margin-bottom: -20px;
    color: var(--color-4);
    font-weight: 900;
    font-size: 1.3rem;
}

.card h4 {
    color: var(--color-3);
    font-weight: 800;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

main h3 {
    color: var(--color-4);
}

.project {
    color: aliceblue;
}

.project h3 {
    text-align: center;
}

.box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card-box {
    width: 200px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.163);
    padding: 20px;
    box-shadow: 10px 5px 10px 0 rgba(0, 0, 0, 0.3);
    align-items: center;
}

.card-box div {
    min-height: 220px;
}

.card-box h2 {
    font-size: 1.1rem;
    text-align: center;
    font-weight: 700;
    color: var(--color-4);
}

.card-box p {
    font-size: smaller;
    margin-top: -5px;
    font-weight: 200;
}

.card-box button {
    width: 100%;
    height: 30px;
    background-color: var(--color-4);
    border-radius: 15px;
}

footer {
    display: flex;
    background-color: var(--color-1);
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: aliceblue;
}

.robot {
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact {
    text-align: center;
}

.contact .card-box {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
}

.contact .card-box div {
    display: flex;
    gap: 5px;
    align-items: center;
    min-height: 10px;
}

.contact-text .bxr,.contact-text .bx {
    color: var(--color-4);
}

.contact-text .bx {
    font-size: 2rem;
}

.contact-text a {
    color: white;
    font-weight: bold;
}

.contact-text a:hover {
    color: #FFCC00;
}

@media screen and (max-width: 1000px) {
    .box {
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (max-width: 660px) {
    .box {
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 500px) {
    .menu-desk {
        display: none;
    }

    .menu-mobile {
        display: block;
    }

    .ham-menu {
        width: 150px;
    }

    .navbar {
        padding-left: 15px;
        padding-right: 15px;
    }

    .card {
        width: 400px;
    }

    .card h2 {
        font-size: 1.2rem;
        margin-bottom: -15px;
    }

    .card h3 {
        font-size: .9rem;
        margin-bottom: -15px;
    }

    .card h4 {
        font-size: .8rem;
    }

    .box {
        padding: 20px;
        grid-template-columns: repeat(1, 1fr);
    }

    .card-box {
        width: auto;
    }

    .card-box div {
        min-height: unset;
    }

    .card-box p {
        margin-top: 1px;
    }

    img {
        max-width: 100%;
    }
}
