@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --color-1: #090040;
    --color-2: #471396;
    --color-3: #B13BFF;
    --color-4: #FFCC00;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: sans-serif;
    background-color: var(--color-2);
    font-family: "Inter", sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    cursor: pointer;
}

.navbar {
    display: flex;
    height: 50px;
    background-color: var(--color-1);
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
}

ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

a {
    color: white;
    text-decoration: none;
}

.menu-desk li,
.menu-desk li a {
    transition: all 200ms ease;
}

.menu-desk li:hover,
.menu-desk li a:hover {
    transform: translateY(-2px);
    font-weight: 530;
    color: var(--color-4);
}

.titles {
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 900;
    transition: all 200ms ease;
    cursor: pointer;
}

.titles a {
    color: var(--color-4);
    transition: all 200ms ease;
}

.titles:hover {
    transform: scaleX(1.1);
    transform: scaleY(1.1);
}

.titles a:hover {
    color: white;
}

.bxr {
    font-size: 2rem;
}

.menu-mobile {
    cursor: pointer;
}

.ham-menu {
    background-color: var(--color-3);
    position: absolute;
    right: 5%;
    width: 75px;
    align-items: center;
    text-align: center;
    padding-right: 55px;
    border-radius: 20px 0 20px 20px;
}

.ham-menu a {
    font-size: 1.2rem;
    color: var(--color-2);
    font-weight: 600;
}

.ham-menu ul {
    display: grid;
}

.menu-mobile {
    display: none;
}

.contents {
    padding-top: 70px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.img-card {
    text-align: center;
}

.img-card img {
    width: 400px;
}

.active-link {
    color: var(--color-4);
}

.name-card {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;
}

.card {
    border-radius: 20px;
    width: 400px;
    text-align: center;
    background: var(--color-1);
    /* background: rgba(0, 0, 0, 0.163); */
    /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); */
    box-shadow: 10px 5px 10px 0 rgba(0, 0, 0, 0.3);
    margin-top: -15px;
    padding: 10px;
}

.card h3 {
    margin-bottom: -20px;
    font-weight: 300;
    font-size: 1rem;
    color: var(--color-3);
}

.card h2 {
    margin-bottom: -20px;
    color: var(--color-4);
    font-weight: 900;
    font-size: 1.3rem;
}

.card h4 {
    color: var(--color-3);
    font-weight: 800;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding: 10px;
}

main h3 {
    color: var(--color-4);
}

.title {
    text-align: center;
    font-family: "Roboto Mono", sans-serif;
}

.project {
    color: aliceblue;
}

.project h3 {
    margin-top: 10%;
}

.box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.box .card-box {
    width: 200px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    transition: all ease-in 200ms;
}

.box .card-box:hover {
    box-shadow: 10px 5px 10px 0 var(--color-4);
}

.card-box {
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.163);
    padding: 20px;
    box-shadow: 10px 5px 10px 0 rgba(0, 0, 0, 0.3);
    align-items: center;
}

.card-box .main-card {
    flex-direction: column;
    display: flex;
    /* min-height: 220px; */
}

.card-box .main-card h2 {
    font-size: 1.1rem;
    text-align: center;
    font-weight: 700;
    color: var(--color-4);
}

.card-box .main-card p {
    font-size: smaller;
    margin-top: -5px;
    font-weight: 200;
}

.card-box .card-box-button {
    width: 100%;
    height: 30px;
    background-color: var(--color-4);
    border-radius: 15px;
    transition: all ease-in 200ms;
}

.card-box .card-box-button:hover {
    transform: translateY(-3px);
}

.skills {
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    width: 90%;
}

.skill .bx {
    font-size: 3rem;
}

.skill {
    align-items: center;
    display: flex;
    margin-bottom: 5px;
}

.range {
    position: relative;
    background-color: var(--color-1);
    width: 100%;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.range-fill {
    background-color: var(--color-4);
    height: 100%;
    border-radius: 20px;
    text-align: right;
}

.label-range {
    margin-right: 5px;
    color: white;
    font-size: 1rem;
}

.icon-html {color: red;}
.icon-css  {color: blue;}
.icon-js   {color: yellow;}
.icon-php  {color: white;}


/* skills customize */
#html5 {width: 99%;}
#css3  {width: 88%;}
#js    {width: 50%;}
#php   {width: 85%;}


.robot {
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact {
    margin-top: 10%;
    align-items: center;
    width: 90%;
}

.contact-container {
    justify-content: center;
    align-items: stretch;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
}

.contact .card-box {
    width: 100%;
}

.contact .contact-information > div:first-child {
    font-family: "Roboto Mono", sans-serif;
    font-size: 1.6rem;
    padding: 10px;
    color: var(--color-4);
    font-weight: 700;
    margin-bottom: 20px;
}

.contact-info-lt {
    display: flex;
    align-items: center;
    background-color: var(--color-1);
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 28px;
}

.contact-info-lt .bxr {
    color: #FFCC00;
    margin-right: 10px;
}

.contact-info-lt a {
    color: var(--color-3);
    font-size: 1rem;
    font-weight: 500;
    word-break: break-word;
    overflow-wrap: anywhere;
    font-family: "Poppins";
    transition: color ease-in .2s;
}

.contact-info-lt a:hover {
    color: var(--color-4);
}

.message-group {
    margin-bottom: 10px;
}

.message-group input {
    width: 100%;
    height: 50px;
    border-radius: 15px;
    padding-left: 10px;
    background: var(--color-1);
    color: var(--color-4);
}

.message-group textarea {
    width: 100%;
    border-radius: 15px;
    background: var(--color-1);
    padding: 10px;
    color: var(--color-4);
    height: 80px;
}

.message-group button {
    width: 100%;
    height: 40px;
    border-radius: 15px;
    background-color: var(--color-4);
    transition: all ease-in 100ms;
}

.message-group button:hover {
    transform: translateY(2px);
}

.text-3d {
    margin-top: 5%;
}

footer {
    background-color: var(--color-1);
    text-align: center;
    justify-content: center;
    align-items: center;
    height: auto;
    color: var(--color-4);
}

.info-footer {
    display: flex;
    margin-top: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: auto;
}

.info-footer .bx {
    color: #B13BFF;
    font-size: 1.5rem;
}

.info-footer a {
    margin-left: 5px;
    color: var(--color-3);
}

.info-footer a:hover {
    color: var(--color-4);
}

@media screen and (max-width: 1000px) {
    .box {
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (max-width: 700px) {
    .contact-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
}

@media screen and (max-width: 660px) {
    .box {
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 500px) {
    .menu-desk {
        display: none;
    }

    .menu-mobile {
        display: block;
    }

    .ham-menu {
        width: 150px;
    }

    .navbar {
        padding-left: 15px;
        padding-right: 15px;
    }

    .card {
        width: 400px;
    }

    .card h2 {
        font-size: 1.2rem;
        margin-bottom: -15px;
    }

    .card h3 {
        font-size: .9rem;
        margin-bottom: -15px;
    }

    .card h4 {
        font-size: .8rem;
    }

    .box {
        padding: 20px;
        grid-template-columns: repeat(1, 1fr);
    }

    .box .card-box {
        width: auto;
    }

    .card-box .main-card {
        min-height: unset;
    }

    .card-box .main-card p {
        margin-top: 1px;
    }

    img {
        max-width: 100%;
    }

    .contact-info-lt .bxr {
        font-size: 1.5rem;
    }
    .contact-info-lt a {
        font-size: .8rem;
    }
}
